@charset "UTF-8";
 
*{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        img{
            width: 100vw;
        }
        a{
            text-decoration: none;
            text-align: center;
            display: block;
            padding: 10px;
            color: white;
            background-color: darkblue;
        }
          ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }