@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;

}
body{
 
   background: url("../imagens/fundo-madeira.jpg") no-repeat top center / cover fixed;
    
    
}
main{
    height: 100vh;
    position: relative;
}
#iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background:  url(../imagens/frame-iphone.png) no-repeat;
    
}
#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}